<div class="container mt-2">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 main-box">
      <div class="clearfix mb-2">
        <h3 class="float-left">
          Add Product
        </h3>
        <div class="float-right">
          <span style="cursor: pointer;">
            <i class="fa fa-plus fa-2x text-primary" (click)="open()"></i>
          </span>
        </div>
      </div>
      <div class="clearfix">
        <div class="card mb-1" *ngFor="let data of storeTask; let i=index"
          [ngClass]="{'border-red': data.priority == 'High' , 'border-green': data.priority == 'Low' , 'border-orange': data.priority == 'Medium'}" (mouseenter)="show(i)" (mouseleave)="hide(i)">
          <div class="card-body">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">productId</th>
                  <th scope="col">productName</th>
                  <th scope="col">productSKU</th>
                  <th scope="col">productPrice</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{data?.productId}}</th>
                  <td>{{data?.productName}}</td>
                  <td>{{data?.productSKU}}</td>
                  <td>{{data?.productPrice}}</td>
                </tr>
              </tbody>
            </table>
            <!-- <div class="float-left">
              <h5>{{data?.date | date:'dd/mm/yyyy'}}</h5>
              <h3>{{data?.productId}}</h3>
              <h3>{{data?.productName}}</h3>
              <h3>{{data?.productSKU}}</h3>
              <h3>{{data?.productPrice}}</h3>
            </div> -->
            <div class="float-right" *ngIf="data.showBtn">
              <button type="button" class="btn btn-info mr-1" (click)="editTask(data)">Edit</button>
              <button type="button" class="btn btn-info" (click)="deleteTask(i)">X</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>