/* #form-div{
    margin: 10px 5%;
    width: 80%;
} */

h2{
    color: rgb(109, 135, 227);
}

/* .task-add-form{
    margin-top: 15px;
} */

/* input{
    width: 100%;
} */

/* #form-div{
    margin: 0;
    padding: 0;
    position: relative;
    top:30px;
    left:50%;
    transform: translate(-50%);;
    width: 35%;
} */